body{
    background-color: #232323;
}
h1{
  text-align: center;
  color: white;
}
.square{
  text-align: center;
  float: left;
  width: 30%;
  background-color: blue;
  margin: 1.66666667%;
  padding-bottom: 30%;

}
#container{
  max-width: 600px;
  margin: 0 auto;
}
